@shadow: 0 2px 2px 0 #C2AD9B;
#create-user, #edit-user, #delete-user, #manageAccounts {
	#header {
		border-bottom: solid 1px #FA9445; 
		margin-bottom: 15px;
	}
	.accountAction {
		margin-top: 10px;
		float:right;
		margin-left: 5px;
	}	
	.disableControls {
		color: #BBBBBB;
	}
}

#manageAccounts{
	img.userImage {
		width: 25px;
	}
	.wordWrap {
		word-break: break-all;
	}
}

i {
	font-size: 20px;
}

#divider {
	padding-left: 5px;
	padding-right: 5px;
	color: #CCCCCC;
}

.well-admin {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    .border-radius(6px);
    .box-shadow(@shadow);    
    font-size: 16px;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    label, input, button, select, textarea {
    	font-size: 16px;
    }
}

.breadcrumb-admin {
    background-color: inherit;
    margin-bottom: 5px;
    padding: 0px;
    .active {
    	color: #333333;
    }    
}

/*********************** Responsive Styles ************************************/
@media (max-width: 767px) {
	.breadcrumb-admin {
		h2 {
			font-size:22px;
			line-height: 20px;
		}	
	}
	#create-user, #edit-user, #delete-user, #manageAccounts {
		.accountAction {
			margin-top: 0px;
			margin-bottom: 10px;
		}	
	}
	.well-admin {
		padding: 5px;
	}
	.roles {
		margin-bottom:5px;
	}
}