#create-user, #edit-user, #delete-user, #manageAccounts {
	.container {
		border-bottom: solid 1px #FA9445; 
		margin-bottom: 15px;
	}
	.accountAction {
		float: right;
		margin-top: 20px;
		margin-right: 20px;
	}	
}

i {
	font-size: 20px;
}

#divider {
	padding-left: 5px;
	padding-right: 5px;
	color: #CCCCCC;
}

#delete-user {
	.content {
		padding-top: 5px;
	}
}	