.clickbox {
	a	{
	  	.border-radius(10px);
	    background-color: #e5e5e5;
	    color: #2b2b2b;
	    display: block;
	    line-height: 1;
	    padding: 10px;
	    margin: 10px 0px;
	    text-decoration: none;
	    
	    h2	{
	    	font-size: 18px;
	    	font-weight: 300;
	    	line-height: 1.1;
	    	
	    	i	{
	    		font-size: 32px;
    			padding-right: 5px;
	    	}
	    }
	    
	    h3	{
	    	font-size: 12px;
	    	font-weight: 100;
	    	line-height: 1.1;
	    	color: blue;
	    	margin-top:0px	   
	    }
	    
	}
}

.clickbox-light	{
	a	{
		background-color: #e5e5e5;
	}	
}
