#discipline-list	{
	.heading	{
		font-size: 18px;
    	font-weight: 300;
    	line-height: 1.1;
    	padding: 10px;
    	margin-bottom: 20px;

	}
	
	.head-icon 	{
		font-size: 28px;
	}
	
	.navigate-icon	{
		font-size: 20px;
		margin-left:10px;
	}
	
	p	{
		
		margin-top:20px;
	}
	
}

#product-list	{

	.heading	{
			font-size: 18px;
	    	font-weight: 300;
	    	line-height: 1.1;
	    	margin-bottom: 20px;
	}
	
	i	{
		font-size: 20px;
		margin-left:10px;
	}

}