/* --------------- Flashcard Component -------------------------- */

@flashcard-border-color:darken(#E5E5E5,10%);
@flashcard-header-border-color:darken(#E5E5E5,10%);
@icon-quiz-correct-color:#46A546;	
@icon-quiz-wrong-color:#9D261D;
@icon-color:#e9e9e9;

#page-header {
	padding-bottom:5px;
	margin-top:10px;
	padding-bottom: 10px;
	border-bottom:solid 1px @flashcard-border-color; 
	.container {
		padding-left:0;
	}
	#product {
		padding-bottom:5px;
		img	{
			margin-right: 10px;
			border:  1px solid #555555;
			.border-radius(4px);
		}
		.logo	{
			padding: 5px;
			background-color: white;
		}		
		h2 {
			font-size:28px;
			line-height:30px;
			margin-top:0;
		}
		h3 {
	       font-size: 18px;
		   font-weight: 100;
		   line-height: 16px;
		   margin-top: 0;
		}
	}
}

#test-home {
	margin-top:20px;
}

.flashcard {
	.border-radius(8px);
  	border: 2px solid @flashcard-border-color;
  	margin: 10px auto 20px;
	.header	{
	  	padding: 1em;
	  	margin: 0px 10px 10px 10px;
	  	border-bottom: 1px solid @flashcard-header-border-color;
	  	.btn.disabled, .btn[disabled]  {
	  		border:solid 1px black;
	  		text-shadow:none;
	  		color:black;
	  		background-color: darken(#E6E6E6, 20%);
	  		&:hover {
	  			 background-color: darken(#E6E6E6, 10%);
    			 background-image: none;
	  		}
	  	}
	  	h4 {
	  		font-weight:normal;
	  		letter-spacing: -1px;
		  	font-size:16px;
	  	}
	  	.btn-toolbar {
	  		margin:0;
	  		text-align:right;
	  	}
		.btn-group-vertical	{ 
			.btn-large:first-child, .btn-large:last-child {
				.border-radius(2px);
			}
		}	  	
	}
	
	.footer	{
	  	padding:10px;
	  	margin-left:10px;
	  	margin-right:10px;

	  	text-align: center;
	  	
	  	border-top: 1px solid gray;
	}
		
	.body	{
	  	padding:5px 20px 20px;
		margin-bottom: 10px;
	
		.explainanswer {
			font-size: 14px;
			font-style: italic;
		}
		
		
		.answer-explanation{
			width:95%;
			margin-left: 20px;
			#gradient > .vertical(#e9e9e9, darken(#e9e9e9, 5%));
			.explainanswer {
				padding:20px;
			}
		}
		
		h2	{
		   	font-size: 24px;
    		font-weight: 100;
			margin-bottom: 20px;
			line-height: 1.0;
			display:table;
			span {
	  			display:table-cell;
	  			padding-left:10px;
	  			vertical-align:middle;
	  		}
			i	{
	  			font-size:32px;
	  			margin-right:10px;
	  			display:table-cell;
	  		}
		}
		
		h3 {
			line-height: 1.1;
		}
		
		.btn-group	{
			width:95%;
		}	
		.btn.correct-ans{
			span{
				color: @green;
			}
		}
		.btn.wrong-ans{
			span{
				color: @red;
			}
		}
		
	  	.btn	{
	  		margin-bottom: 5px;
	  		color: @gray;
	  		font-size:17px;
	  		line-height: 1;
	  		#gradient > .vertical(#e9e9e9, darken(#e9e9e9, 5%));
	  		.border-radius(8px);
	  		margin-left: 20px;
	  		text-align: left;
 			padding: 10px 5px 7px;
	  		display:table;
			span {
	  			display:table-cell;
	  			padding-left:10px;
	  			vertical-align:middle;
	  			width:99%;
	  		}
	  		i	{
	  			font-size:34px;
	  			margin-right:10px;
	  			vertical-align: middle;
	  			display:table-cell;
	  			color:@icon-color;
	  		}
	  		
	  		i.icon-quiz-correct {
	  			color: @icon-quiz-correct-color;
	  		}
	  		
	  		i.icon-quiz-wrong {
	  			color: @icon-quiz-wrong-color;	
	  		}
	  			  		
	  		border: 0px none;

	  	 }
	}
}

/************************************ Responsive Styles ************************/


/* --------------- Flashcard Component -------------------------- */
@media (max-width: 480px) {
	#test-home {
		margin-top:0px;
	}
	.flashcard {
	  	border: 0px;
	  	width: 100%;
		.header	{
			padding:10px 0 0 0;
		  	margin-left: 5px;
		  	margin-right: 5px;
		  	margin-bottom: 5px;
		  	border:0 none;
		  	.span3 {
		  		float:left;
		  		width:36%;
		  		h4 {
		  			font-size:16px;
		  		}
		  	}
		  	.span9 {
		  		float:left;
		  		width:64%;
		  	}
		}
		.footer	{
		  	padding:5px;
		  	margin-left:5px;
		  	margin-right:5px;
		}
		.body	{
		 	margin-bottom: 15px;
    		padding: 5px;
			
			h2	{
				font-size:18px;
			}
			.btn-group	{
				width:95%;
			}
			.btn	{
				margin-left: 5px;
				font-size:14px;
				line-height: 1.1;
			}
			.answer-explanation {
				width:95%;
				margin-left: 5px;
				.explainanswer {
					padding:5px;
				}
			}
		}
	}
	#page-header  {
		margin-top:10px;
		margin-left: 10px;
		#product	{
			h3 {
			  font-size: 16px;
			}
			h2 {
			  font-size: 21px;
              line-height: 25px;
			  margin-bottom: 10px;
			}
		}
	}	
}
@media (min-width: 481px) and (max-width: 979px) {
	#page-header  {
		margin-top:10px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	#page-header  {
		#product {
			h3 {
				 line-height: 19px;
			}
			h2 {
                  line-height: 22px;
			}
		}
	}
}
