/* --------------- Flashcard Component -------------------------- */

.flashcard {
	
	.border-radius(4px);
  	border: 2px solid gray;
  	width: 85%;
  	margin: 0 auto;
	padding:0px;

	.header	{
	  	padding:0px;
	  	margin-left: 10px;
	  	margin-right: 10px;
	  	margin-top: 0px;
	  	margin-bottom: 10px;
	  	
	  	border-bottom: 1px solid gray;
	}
	
	.footer	{
	  	padding:10px;
	  	margin-left:10px;
	  	margin-right:10px;

	  	text-align: center;
	  	
	  	border-top: 1px solid gray;
	}

	.body	{
	  	padding:20px;
		text-align: center;
		margin-bottom: 10px;
	
		h2	{
			margin-bottom: 20px;
			line-height: 1.0;
			
			i	{
	  			font-size:32px;
	  			margin-right:10px;
	  		}
		}
		
	  	.btn	{
	  		margin-bottom: 10px;
	  		font-size:20px;
	  		line-height: 1.0;
	  		
	  		i	{
	  			font-size:24px;
	  			margin-right:20px;
	  		}
		
	  		.border-radius(2px);
	  		 border: 1px solid gray;

			span.radio-on {
				background:url('../../../../images/radio-on.png')no-repeat left center;
				padding-left: 30px;
    			padding-bottom: 5px;
				padding-top: 5px;				
			}
			span.radio-off {
				background:url('../../../../images/radio-off.png')no-repeat left center;
				padding-left: 30px;
    			padding-bottom: 5px;
				padding-top: 5px;				
			}

	  	 }
	  	 
		.btn-group-vertical	{ 
			.btn-large:first-child, .btn-large:last-child {
				.border-radius(2px);
			}
		}
	}
}
