@footer-bg-color:@black;
html, body {
	height: 100%;	/* The html and body elements cannot have any padding or margin. */
}

#bb-container	{
	padding-top:15px;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height + any padding applied to body */
    margin: 0 auto -35px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height:35px;
}

#footer	{
	background-color: @footer-bg-color;
	.credit	{
		padding-top: 8px;
		text-align: center;
		margin:0;
	}
}

/***Harsh***/
#panel-container{
	margin:auto;
}
.easing{
	.transition(all 0.25s ease-in-out);
}
#bb-container{
	overflow:hidden;
 }  
     
.panel-item{
	//float:left;
	//min-height:10px;
}
.ui-loader-default {
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 46px;
    margin-left: -23px;
    margin-top: -23px;
    opacity: 0.18;
    width: 46px;
}
.ui-loader {
    border: 0 none;
    display: none;
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 9999999;
}
.ui-loader .ui-icon {
    background-color: #000000;
    border-radius: 36px 36px 36px 36px;
    display: block;
    height: 44px;
    margin: 0;
    padding: 1px;
    width: 44px;
}


