#product-home	{
	h3 {
	    font-size: 22px;
	    font-weight: 100;
	    line-height: 1;
	    margin-bottom:10px
	}
	
	ul.playlist {
		padding-left: 10px;
		padding-bottom: 20px;
		li	{
			border-bottom: 1px solid @grayLight;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size:16px;
			font-weight:100;
			
			i	{
				color: @gray;
			}
		}
		
	}
	
	ul.playlist li.sm2_playing, ul.playlist li.sm2_playing:hover {
    	background-color: #75C9DD;
	}
	

}

