#product-home	{
	h3 {
	    font-size: 22px;
	    font-weight: 100;
	    line-height: 1;
	    margin-bottom:10px
	}
	
	ul.playlist {
		padding-left: 10px;
		padding-bottom: 20px;
		li	{
		  	.border-radius(4px);
			background-color: #545454;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-bottom: 5px;

			i	{
				color: @grayLighter;
				font-size:12px;
			}
			
			a	{
				color: @grayLighter;
				font-size:16px;
				font-weight:100;
			}
		}
		
		.timing {
    		background-color: #75C9DD;
    	}
		
	}
	
	ul.playlist li.sm2_playing, ul.playlist li.sm2_playing:hover {
    	background-color: black;
	}
	
	ul.playlist li .controls .statusbar .position {
		background-color: #75C9DD;
    	border-right: 3px solid #75C9DD;
	}
	

}


