/* ---------- Responsive Custom ----------- */

/*--  Landscape phones and down */
@media (max-width: 480px) {

    body    {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;        
    }

    
    .hero  {
        .row    {   /* ------- Custom Styling for Splash Section ------ */
            p   {
                .btn {
                    width: 90%;
                }
            }

        }
    }

    .main-body   {

        padding: 0 10px;
        padding-bottom: 20px;
    }

    .main-body-splash   {
        padding-top: 20px;
    }
    
    #product-home	{
    	.btn	{
    		width: 85%;
    	}
    }
    
/* --------------- Flashcard Component -------------------------- */

	.flashcard {
		
	  	border: 0px;
	  	width: 100%;
	
		.header	{
		  	margin-left: 5px;
		  	margin-right: 5px;
		  	margin-bottom: 5px;
		}
		
		.footer	{
		  	padding:5px;
		  	margin-left:5px;
		  	margin-right:5px;
		}
	
		.body	{
		  	padding:10px;
	
			h2	{
				margin-bottom: 20px;
				font-size:14px;
				line-height: 1.0;
				
				i	{
		  			font-size:14px;
		  			margin-right:5px;
		  		}
			}
			
		  	.btn	{
		  		margin-bottom: 10px;
		  		font-size:16px;
		  		line-height: 1.0;
		  		padding-top:10px;
		  		padding-bottom:10px;
		  		
		  		i	{
		  			font-size:18px;
		  			margin-right:10px;
		  		}
		  	 }
		  	 

		}
	}


    
}

/*-- Landscape phone to portrait tablet */

@media (max-width: 770px) {
    body    {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;        
    }

    
    /* Navbar customization */
    .navbar .nav > li > a, .navbar .dropdown-menu a {
        color: #000000;
        font-weight: normal;
    }
}

/*-- Portrait tablet to landscape and desktop */

@media (min-width: 771px) and (max-width: 979px) {

    
        /* Navbar customization */
    .navbar .nav > li > a, .navbar .dropdown-menu a {
        color: #000000;
        font-weight: normal;
    }
}

/*-- TABLETS AND BELOW */

@media (max-width: 979px) {

    /* Navbar customization */
    .navbar .nav > li > a:hover,
    .navbar .dropdown-menu a:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }


    .navbar-fixed-top .navbar-inner {
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
}

/*-- Large desktops */
@media (min-width: 1200px) {  

}


/* --------------- Flashcard Splash -------------------------- */

@media (max-width: 480px) {  
    .center { 
    	border:0 none;
    }
    #loginform {
        margin:0 10px;
        padding:0;
        .user-info {
        	margin: 2em 0;
        	.span3 {
        		float:left;
        	}
        	
        }
		#ajaxLoginForm, #loggedin-container {
			border:0 none;
			max-width:100%;
			padding:0;
			#change-lives-header {
				display:none;
			}
			input[type="text"], input[type="email"], input[type="password"] {
				    height: 35px;
				    width: 100%;
				    margin-top:0.2em;
			}
			margin:0px;
		}
		.btn {
			margin-top:0.5em;
		}
		.facebook-login  {
			margin-left:0;
			.span-facebook {
			        .icon-facebook-sign {
			     		font-size:40px;  
		        	}
		        	float:left;
		        	margin-right:0.5em;
	                 }
		        .facebook-text {
		        	font-size: 15px;
			}
		}
    }
    .align-or  {
    	margin-bottom:0;
    }
    #business-info {
    	margin:0;
    	padding:0;
    	p {
    		display:none;
    	}
		h3 {
			margin:0 0.2em;
			font-size:13px;
		}
		img {
		        width:80%;
		}
		h1 {
			font-size:17px;
			line-height: 25px;
		}
		h2 {
			font-size:15px;
			line-height: 25px;
		}
    }
    
}
@media (max-width: 767px) {  
	 .facebook-login  {
			margin-left:0;
			.span-facebook {
				.icon-facebook-sign {
					font-size:40px;  
				}
				float:left;
				margin:0em;
			 }
			.facebook-text {
				font-size: 15px;
			} 		
  		}

}

@media (min-width: 768px) and (max-width: 979px) {
	#loginform {
		 margin: 1em 0.2em;
		.user-info  {
			div {
				 margin: 0 0.5em;
			}
		}
		.facebook-login  {
		  		margin-left:0;
		  		.span-facebook {
		  		        .icon-facebook-sign {
		  		     		font-size:40px;  
		  	        	}
		  	        	float:left;
		  	        	 margin-right: 1em;
		                 }
		  	        .facebook-text {
		  	        	font-size: 15px;
		  		}
  		}
  		#ajaxLoginForm, #loggedin-container {
  			margin:0px;
  		}
	}
	.align-or  {
	    	margin-bottom:0;
    	}
    	#business-info {
			h1 {
				font-size:28px;
			}	
    	}
}



