/* ---------- Responsive Custom ----------- */

/*--  Landscape phones and down */
@media (max-width: 480px) {
	
	/**  BODY STYLES overridden from bootstrap as creates unnecessary space in left right side starts. *******/
	 body {
	 	padding-left: 0px;
    	padding-right: 0px;
    }
    
    /** this is to adjust the default values in accordance to body styling ***********/
    .navbar-fixed-top {
    	margin-left: 0px;
    	margin-right: 0px;
    }
    /**  BODY STYLES overridden from bootstrap as creates unnecessary space in left right side ends. *******/
	
	.brand-button {
		.btn	{
			padding: 0 20px;
		}
	}
    
/* --------------- Flashcard Component -------------------------- */

/*
	.flashcard {
		
	  	border: 0px;
	  	width: 100%;
	
		.header	{
		  	margin-left: 5px;
		  	margin-right: 5px;
		  	margin-bottom: 5px;
		}
		
		.footer	{
		  	padding:5px;
		  	margin-left:5px;
		  	margin-right:5px;
		}
	
		.body	{
		  	padding:10px;
	
			h2	{
				margin-bottom: 20px;
				font-size:14px;
				line-height: 1.0;
				
				i	{
		  			font-size:14px;
		  			margin-right:5px;
		  		}
			}
			
		  	.btn	{
		  		margin-bottom: 10px;
		  		font-size:16px;
		  		line-height: 1.0;
		  		padding-top:10px;
		  		padding-bottom:10px;
		  		
		  		i	{
		  			font-size:18px;
		  			margin-right:10px;
		  		}
		  	 }
		}
	}*/
}


/*-- Landscape phone to portrait tablet */

@media (max-width: 770px) {

    
}

/*-- Portrait tablet to landscape and desktop */

@media (min-width: 771px) and (max-width: 979px) {
		
   /**  BODY STYLES overridden from bootstrap as creates unnecessary space in left right side starts. *******/
	 body {
	 	padding-left: 0px;
    	padding-right: 0px;
    }
    
    /** this is to adjust the default values in accordance to body styling ***********/
    .navbar-fixed-top {
    	margin-left: 0px;
    	margin-right: 0px;
    }
    /**  BODY STYLES overridden from bootstrap as creates unnecessary space in left right side ends. *******/
    
    .brand-button {
		.btn	{
			padding: 0 20px;
		}
	}
}

/*-- TABLETS AND BELOW */

@media (max-width: 979px) {

}

/*-- Large desktops */
@media (min-width: 1200px) {  
}


/* --------------- Splash -------------------------- */

@media (max-width: 480px) {  
	#panel_home {
		margin: 0 20px;
	}
	#business-info { 
		h1 {
			font-size:21px;
			line-height: 25px;
		}
	}
	#loginform {
		margin-top:0;
		#ajaxLoginForm, #loggedin-container { 
			border:0 none;
			.hero-unit {
				padding:0;
				background-color:transparent;
				> p {
					display:none;
				}
			}
			h3 {
				display:none;
			}
		}
		#facebook-login {
			.facebook-text {
				font-size:18px;
	    		margin-left: 0.5em;
			}
			p {
				i {
					font-size:30px;
				}
			}
		}
		#user-info {
			div {
				float:left;
			}
			.span3 {
				width:30%;
			}
			.span6 {
				width:60%;
			}
		}
	}
}
@media (max-width: 767px) {  

}

@media (min-width: 768px) and (max-width: 979px) {
	#loginform {
		#ajaxLoginForm, #loggedin-container {
			.hero-unit {
				#forgot-pwd {
					font-size:14px;
				}
			}
			.span3 {
				min-width: 35%;
			}
		}
		#facebook-login {
			.facebook-text {
				font-size: 21px;
	    		margin-left: 0.5em;
			}
			i {
				font-size:36px;
			}
		}
	}
}



