.align-left {
    text-align:left;
}

.center {
    text-align:center;
    border-right:solid 1px #E4E8E6;
    margin:1em 0;
    padding:0 1em;
}


#loginform {
     margin:1em;
     h3,h2 {
     	font-weight:normal;
     }  
     .user-info {
        float:left;
        width:100%;
        margin:3em 0;
     	i {
     	   font-size:80px;
     	   float:left;
     	}
     	div {
     		float:left;
     		margin:0 2em;
     	}
     }
     #ajaxLoginForm, #loggedin-container {	
	border:solid 1px #E4E8E6;
	padding:1em 2em;
	.border-radius(20px);
	max-width: 500px;
	input[type="text"], input[type="email"], input[type="password"] {
	    font-size: 17px;
	    height: 28px;
	    margin-bottom: 1.5em;
	    width: 94%;
	}
     }
     .btn {
	 padding:4px 3em;
	 .border-radius(10px); 
      }
      .facebook-login {    
		margin-left:2em;
		
		.btn {
		     padding:2em 10px 2em 0.5em;
		     min-width:300px;
		}
		.span-facebook {
		     .border-radius(5px);
		     width:15%;
		     .icon-facebook-sign {
			     font-size:70px;  
		      }
		      margin-left:10px;
		      margin-right:2em;
		}
		.facebook-text {
		     font-size: 25px;
		}
	}
	.user-buttons {
	     .btn {
	         margin-bottom:0.3em;
	          padding:1em 4em;
	          min-width:200px;
	     }
	}
}

.align-or {
	text-align:center;
	margin-bottom:0.5em;

}



