.align-left {
    text-align:left;
}

.center {
    text-align:center;
    border-right:solid 1px #E4E8E6;
    margin:1em 0;
    padding:0 1em;
}

#business-info {
	img {
		width:90%;
	}
	h3 {
		margin: 0.5em 0;
	}
	padding-right:2em;
}

#loginform {
     margin: 1em 1em 1em 0;
     padding:10px 20px 20px 0;
     h3,h2 {
     	font-weight:normal;
     }  
     .user-info {
        width:100%;
        margin:3em 0;
     	i {
     	   font-size:80px;
     	}
     	.span3 {
     		  margin: 1em;
     	}
     	.span6 {
     		  margin-top: -1em;
     	}
     	h3 {
     		line-height:30px;
     	}
     }
     #ajaxLoginForm {
     	.btn {
     		margin-top:1.5em;
     	}
     	h3 {
     		margin-bottom:0.5em;
     	}
     }
     #ajaxLoginForm, #loggedin-container {	
		border:solid 1px #CCD5CC;
		padding:1em 2em;
		.border-radius(20px);
		max-width: 500px;
		input[type="text"], input[type="email"], input[type="password"] {
		    font-size: 17px;
		    height: 28px;
		    width: 97%;
		    margin-top:1em;
		}
     }
     .btn {
		 &:hover {
		 	background-position: 0 0;
		 }
      }
      .facebook-login {    
		margin-left:2em;
		.span-facebook {
		     .border-radius(5px);
		     width:15%;
		     .icon-facebook-sign {
			     font-size:70px;  
		      }
		      margin-left:10px;
		      margin-right:2em;
		}
		.facebook-text {
		     font-size: 22px;
		     display: block;
    		 margin-top: 0.7em;
		}
	}
	.user-buttons {
	     .btn {
	         margin-bottom:0.3em;
	     }
	}
}

.align-or {
	text-align:center;
	margin-bottom:0.5em;

}



