.align-left {
    text-align:left;
}

.center {
    text-align:center;
}

.business-logo {
    margin: 1em;
    width: 30%;
}

#loginform {
     #ajaxLoginForm {
	border:solid 1px #E4E8E6;
	padding:1em;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	max-width:300px;
	input[type="text"], input[type="email"], input[type="password"] {
	    font-size: 17px;
	    height: 28px;
	    margin-bottom: 1.5em;
	    width: 94%;
	}
     }
     .btn {
	 padding:4px 3em;
	 .border-radius(10px); 
      }
      .align-right {
	  text-align:right;
 	  padding-right:7px;
	}
}

.align-or {
	margin-left:6em;
	margin-bottom:0.5em;

}

.facebook-login {
	margin-left:2em;
}

