<plugin name='cgrails' version='1.0' grailsVersion='2.1.0 &gt; *'>
  <author>Your name</author>
  <title>Cgrails Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/cgrails</documentation>
  <type>CgrailsGrailsPlugin</type>
  <resources>
    <resource>CgrailsResources</resource>
    <resource>CgrailsUrlMappings</resource>
    <resource>com.compro.cgrails.CgrailsTemplateController</resource>
    <resource>com.compro.cgrails.service.CgrailsService</resource>
    <resource>com.compro.cgrails.service.SkinningService</resource>
    <resource>com.compro.cgrails.service.engine.CgrailsEngine</resource>
    <resource>com.compro.cgrails.service.engine.DefaultCgrailsEngineImpl</resource>
    <resource>com.compro.cgrails.service.offline.AirApplicationBuilder</resource>
    <resource>com.compro.cgrails.service.offline.AndroidApplicationBuilder</resource>
    <resource>com.compro.cgrails.service.offline.AppjsApplicationBuilder</resource>
    <resource>com.compro.cgrails.service.offline.OfflineApplicationBuilder</resource>
    <resource>com.compro.cgrails.CgrailsTagLib</resource>
    <resource>com.compro.cgrails.OverrideGrailsTagLib</resource>
    <resource>com.compro.cgrails.CgrailsUtils</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='http://maven.springframework.org/milestone' url='http://maven.springframework.org/milestone/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='mysql' name='mysql-connector-java' version='5.1.20' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='cache' version='1.0.0' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='grails-melody' version='1.13' />
      <plugin group='org.grails.plugins' name='yui-minify-resources' version='0.1.5' />
      <plugin group='org.grails.plugins' name='jquery' version='1.7.2' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.1.0' />
      <plugin group='org.grails.plugins' name='cloud-foundry' version='1.2.3' />
      <plugin group='org.grails.plugins' name='cached-resources' version='1.0' />
      <plugin group='org.grails.plugins' name='resources' version='1.2.RC2' />
      <plugin group='org.grails.plugins' name='cache-headers' version='1.1.5' />
      <plugin group='org.grails.plugins' name='zipped-resources' version='1.0' />
      <plugin group='org.grails.plugins' name='google-analytics' version='2.0' />
      <plugin group='org.grails.plugins' name='database-migration' version='1.1' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.1.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>