@clickbox-drop-shadow:0px 2px 2px 0px #c2ad9b;
@clickbox-bg-color:@white;
@clickbox-border-color:#ababab;
@clickbox-text-color:#5b544e;
@clickbox-author-color:#ED6B06;
@clickbox-arrow-color:#84837a;

.clickbox {
	a	{
		h3 {
			color:@clickbox-author-color;
			  font-size: 16px;
		}
		i {
			color:@clickbox-arrow-color;
		}
	}
}