@flashcard-border-color:#ED6B06;
@icon-quiz-correct-color:#27742b;
@icon-quiz-wrong-color:#9e0b0f;
@icon-color:#bbbdbd;

#page-header  {
	#product {
		h3 {
			color:#ED6B06;
		}
	}
}

.flashcard {
	h2	{
		color:rgb(120,109,101);	
		i	{
			color:#ED6B06;
		}
	}
	.body {
		.btn {
			#gradient > .vertical(white, white);
			border: solid 1px rgb(125, 125, 125);
			.box-shadow(none);
		}
	}
}