@login-h3-color: #0089b7;
@facebook-icon-top-color:#4f72b3;
@facebook-icon-bottom-color:#2d5090;
@profile-img-top-color:#EEEEEE;
@profile-img-bottom-color:#EEEEEE;

#loginform { 
	#ajaxLoginForm, #loggedin-container {
		.input-prepend  {
			.add-on {
				i {
					color:#8F8F8F;
				}
			}
		}
		#user-info {
			background-color:@white;
			.profile-image {
				 a {
				 	border:solid 1px #aaa693;
				 }
			}
		}
	}
	#facebook-login {
		.vertical-gradient(#434343,#181818);
		border:solid 1px @black;
		.border-radius(6px);
		span.facebook-icon {
			.vertical-gradient(@facebook-icon-top-color,@facebook-icon-bottom-color);
		}
	}
}