@login-h3-color: #ED6B06;
@facebook-icon-top-color:#4f72b3;
@facebook-icon-bottom-color:#2d5090;

#loginform { 
	#ajaxLoginForm, #loggedin-container {
		.input-prepend  {
			.add-on {
				i {
					color:#8F8F8F;
				}
			}
		}
		#user-info {
			background-color:@white;
		}
	}
	#facebook-login {
		#gradient > .vertical(#434343, #181818);
		border:solid 1px @black;
		.border-radius(6px);
		a {
			#gradient > .vertical(@facebook-icon-top-color,@facebook-icon-bottom-color);
		}
	}
}